/* custom button */
.completebtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    background-color: teal;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    gap: 5px;
}