.student{
    /* padding: 0 60px; */
}
.action-button{
    padding: 0 15px;
}
.card-pane{
    margin: 0 auto;
    width: 60rem;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid teal;
    display: flex;
    flex-wrap: wrap;
}

.card-container{
    height: 80vh;
    overflow-y: scroll;
}

.card-container::-webkit-scrollbar{
    display: none;
}